<div class="post-author text-center">                       
	        <img src="/images/lonnie.jpg" alt="Lonnie Pryor III" itemprop="image" class="post-avatar img-circle img-responsive"/>    
	    <h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name" class="fn"><a href="/about" title="About Lonnie Pryor III" itemprop="url">Lonnie Pryor III</a></span></h4>
	    <p>Follower of any language where the compiler consistently tries to out-think me.</p>
</div>